{% include "header.html" %}
  <h1>Footage</h1>
  <div>
    <h2>Search</h2>
    <form method="GET" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {{form}}
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="{% url 'View_Footage' %}">Reset</a> 
  </div>
  <h2>List</h2>
  <div>
    <table>
      <tr>
        <th>FileName</th>
        <th>Length</th>
        <th>Audio</th>
        <th>Video</th>
        <th>Takes</th>
        <th>Marked</th>
        <th>Average Rating</th>
        <th>Max Rating</th>
      </tr>
      {% for footage in list %}
        <tr onclick="window.location='{% url 'Footage_Editor' footage.id %}';">
          <td>{{ footage.filename }}</td>
          <td>{{ footage.length }}</td>
          <td>{{ footage.has_audio }}</td>
          <td>{{ footage.has_video }}</td>
          <td>{% for take in footage.take_set.all %}
            {% ifchanged %}({{take.shot_scene.script_number}}{{take.shot_name}}:{{take.take_no}}){% endifchanged %}
            {% endfor %}
          </td>
          <td>{% for take in footage.take_set.all %}
            {% ifchanged %}({{take.marked_scene}}{{take.marked_shot}}:{{take.marked_take}}){% endifchanged %}
            {% endfor %}
          </td>
          <td>{{ footage.average_rating }}</td>
          <td>{{ footage.max_rating }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <a href="{% url 'File_Uploads' %}">Upload Footage</a> 
{% include "footer.html" %}