<!DOCTYPE html>
<html>
<body>
    <div>
        <a href="{% url 'View_Footage' %}">All Footage</a> 
    </div>
    <div class="container center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <h1>Footage Editor</h1>
              <div>{{form.instance.path}}</div>
              <div>{{form.instance.hash}}</div>
              <div>{{form.as_div}}</div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <h2>Takes</h2>
        <ul>
            {% for take in takes %}
              <li>
                <div><b>Scene {{take.instance.shot_scene_id}}{{take.instance.shot_name}} Take {{take.instance.take_no}}</b></div>
                <form action="{% url 'Edit_Take_In_Footage' form.instance.pk take.instance.shot_scene_id take.instance.shot_name take.instance.take_no %}" method="POST">
                  {% csrf_token %}
                  {{take}}
                  <button type="submit">Edit</button>
                </form>
                <form action="{% url 'Remove_Take_From_Footage' form.instance.pk take.instance.shot_scene_id take.instance.shot_name take.instance.take_no %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">Delete</button>
                </form>
              </li>
            {% endfor %}
        </ul>
        <h3>Add Take</h3>
        <form action="{% url 'Add_Take_To_Footage' form.instance.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              {{take_to_footage}}
            </div>
            <button type="submit">Submit</button>
        </form>
        <h2>Comments</h2>
        <ul>
          {% for comment in comments %}
            <li>
              <form action="{% url 'Edit_Comment' comment.instance.pk %}" method="POST">
                {% csrf_token %}
                {{comment}}
                <button type="submit">Edit</button>
              </form>
              <form action="{% url 'Delete_Comment' comment.instance.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            </li>
          {% endfor %}
      </ul>
        <h3>Add Comment</h3>
        <form action="{% url 'Add_Comment_To_Footage' form.instance.pk %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div>
            {{comment_to_footage}}
          </div>
          <button type="submit">Submit</button>
      </form>
    </div>
</body>
</html>