<!DOCTYPE html>
<html>
<body>
    <div>
        <a href="{% url 'View_Footage' %}">All Footage</a> 
    </div>
    <div class="container center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <h1>Footage Editor</h1>
              <div>{{form.instance.path}}</div>
              <div>{{form.instance.hash}}</div>
              <div>{{form.as_div}}</div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>