{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="{% static 'template.css' %}">
    </head> 
    <body>
        <header> 
            <div class="header">
                <div>
                    Footage Logger
                </div>
                <div>
                    <a href="{% url 'View_Scenes' %}">View Scenes</a> 
                </div>
                <div>
                    <a href="{% url 'View_Footage' %}">View Footage</a>
                </div>
                <div>
                    <a href="{% url 'File_Uploads' %}">Upload Footage</a> 
                </div>
            </div>
        </header>
        <div class="body">