{% include "header.html" %}
    <h1>Scene List</h1>
    <ul>
        {% for scene in list %}
          <li>
            <a href="{% url 'Scene_Editor' scene.script_number %}">{{ scene }}</a> 
            <form action="{% url 'Delete_Scene' scene.script_number %}" method="POST">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </li>
        {% endfor %}
    </ul>
    <h1>Add Scene</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {{form}}
      </div>
      <button type="submit">Submit</button>
  </form>
{% include "footer.html" %}