body {
    background-color: lightblue;
    margin: 0;
}
  
h1 {
    color: navy;
}

.header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px;
    grid-gap: 30px;
    background-color: white;
}

.body {
    margin: 10px;
}