body {
    background-color: lightcyan;
    margin: 0;
}
  
h1 {
    color: navy;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
}

table {
    border-collapse: collapse;
    background-color: whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

audio {
    width: 500px;
}

.header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px;
    grid-gap: 30px;
    background-color: white;
}

.body {
    margin: 10px;
}